/* HARICOT COMA - Common Styles */

/* Background */
body {
  background-repeat: repeat;
}

#background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/common/bg.png');
  background-repeat: repeat;
  opacity: 0;
  z-index: -1;
}

/* Logo container transparency */
#haricotcoma_container {
  background: none !important;
}

/* Content blocks fade-in animation */
.content-block {
  opacity: 0;
}

/* Thinking text color */
#thinking {
  color: #363636;
  display: inline-block;
}

/* Thinking parent element adjustment */
#im {
  padding-left: 10px;
}